{% extends 'base.html' %}

{% block login %}
{% for msg in messages %}
<h4>{{msg.tags}}  :  {{msg}}</h4>
{% endfor %}
<form action="" method="POST">
    {% csrf_token %}
    <label for="">username</label>
    <input type="text" id="username" name="username" placeholder="enter your username"><br><br>
    
    <label for="">password</label>
    <input type="password" id="password" name="password" placeholder="enter your password"><br><br>
   
    <button type="submit">LogIn</button>
  </form>
{% endblock login %}